In [1]:
library('SPEI')
library('xts')

Loading required package: lmomco
Loading required package: parallel
# Package SPEI (1.6) loaded [try SPEINews()].
Loading required package: zoo

Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

## Read in altered precip data

In [2]:
fname <- 'input_files/plotrep_monthly_25_50_5_header.csv'
#header <- read.csv(fname, skip=3, nrows=1)
df_alt <- read.csv(fname, header=TRUE)
#df[df==-9999] <- NA
#colnames(df) <- colnames(header)

df_alt$actual.month <- df_alt$water.month-3
df_alt$actual.year <- df_alt$water.year
m_idx <- df_alt$actual.month < 1

df_alt$actual.month[m_idx] <- df_alt$actual.month[m_idx]+12
df_alt$actual.year[m_idx] <- df_alt$actual.year[m_idx]-1
df_alt$Date <- as.Date(as.yearmon(paste(df_alt$actual.year, df_alt$actual.month, sep='-'),
                       '%Y-%m'), frac=1)
head(df_alt)
tail(df_alt)

  site water.year water.month serial days ambient reduced incvar_a incvar_b
1   40       2003           1  37545   31     1.7   1.275     0.85     2.55
2   40       2003           2  37576   30    15.9  11.925     7.95    23.85
3   40       2003           3  37606   31    13.6  10.200     6.80    20.40
4   40       2003           4  37637   31     0.0   0.000     0.00     0.00
5   40       2003           5  37667   28    11.5   8.625     5.75    17.25
6   40       2003           6  37696   31    14.3  10.725     7.15    21.45
  redmean_a redmean_b incvar_pair_1 incvar_pair_2 incvar_pair_3 incvar_pair_4
1     0.425     2.125             8             9             8             8
2     3.975    19.875             8             9             8             8
3     3.400    17.000             8             9             8             8
4     0.000     0.000             8             9             8             8
5     2.875    14.375             8             9             8             8
6     3.575    17.875             8             9             8             8
  incvar_pair_5 redmean_pair_1 redmean_pair_2 redmean_pair_3 redmean_pair_4
1             8             11             10             11             10
2             8             11             10             11             10
3             8             11             10             11             10
4             8             11             10             11             10
5             8             11             10             11             10
6             8             11             10             11             10
  redmean_pair_5 incvar_a_1 incvar_a_2 incvar_a_3 incvar_a_4 incvar_a_5
1             11       0.85       2.55       0.85       0.85       0.85
2             11       7.95      23.85       7.95       7.95       7.95
3             11       6.80      20.40       6.80       6.80       6.80
4             11       0.00       0.00       0.00       0.00       0.00
5             11       5.75      17.25       5.75       5.75       5.75
6             11       7.15      21.45       7.15       7.15       7.15
  incvar_b_1 incvar_b_2 incvar_b_3 incvar_b_4 incvar_b_5 redmean_a_1
1       2.55       0.85       2.55       2.55       2.55       2.125
2      23.85       7.95      23.85      23.85      23.85      19.875
3      20.40       6.80      20.40      20.40      20.40      17.000
4       0.00       0.00       0.00       0.00       0.00       0.000
5      17.25       5.75      17.25      17.25      17.25      14.375
6      21.45       7.15      21.45      21.45      21.45      17.875
  redmean_a_2 redmean_a_3 redmean_a_4 redmean_a_5 redmean_b_1 redmean_b_2
1       0.425       2.125       0.425       2.125       0.425       2.125
2       3.975      19.875       3.975      19.875       3.975      19.875
3       3.400      17.000       3.400      17.000       3.400      17.000
4       0.000       0.000       0.000       0.000       0.000       0.000
5       2.875      14.375       2.875      14.375       2.875      14.375
6       3.575      17.875       3.575      17.875       3.575      17.875
  redmean_b_3 redmean_b_4 redmean_b_5 actual.month actual.year       Date
1       0.425       2.125       0.425           10        2002 2002-10-31
2       3.975      19.875       3.975           11        2002 2002-11-30
3       3.400      17.000       3.400           12        2002 2002-12-31
4       0.000       0.000       0.000            1        2003 2003-01-31
5       2.875      14.375       2.875            2        2003 2003-02-28
6       3.575      17.875       3.575            3        2003 2003-03-31

    site water.year water.month serial days ambient reduced incvar_a incvar_b
775   50       2015           7  42110   30    15.6  11.700     7.80    23.40
776   50       2015           8  42140   31    27.9  20.925    13.95    41.85
777   50       2015           9  42171   30    28.2  21.150    14.10    42.30
778   50       2015          10  42201   31    32.4  24.300    16.20    48.60
779   50       2015          11  42232   31    37.4  28.050    18.70    56.10
780   50       2015          12  42263   30    13.0   9.750     6.50    19.50
    redmean_a redmean_b incvar_pair_1 incvar_pair_2 incvar_pair_3 incvar_pair_4
775     3.900    19.500             8             9             8             9
776     6.975    34.875             8             9             8             9
777     7.050    35.250             8             9             8             9
778     8.100    40.500             8             9             8             9
779     9.350    46.750             8             9             8             9
780     3.250    16.250             8             9             8             9
    incvar_pair_5 redmean_pair_1 redmean_pair_2 redmean_pair_3 redmean_pair_4
775             9             11             11             10             10
776             9             11             11             10             10
777             9             11             11             10             10
778             9             11             11             10             10
779             9             11             11             10             10
780             9             11             11             10             10
    redmean_pair_5 incvar_a_1 incvar_a_2 incvar_a_3 incvar_a_4 incvar_a_5
775             11       7.80      23.40       7.80      23.40      23.40
776             11      13.95      41.85      13.95      41.85      41.85
777             11      14.10      42.30      14.10      42.30      42.30
778             11      16.20      48.60      16.20      48.60      48.60
779             11      18.70      56.10      18.70      56.10      56.10
780             11       6.50      19.50       6.50      19.50      19.50
    incvar_b_1 incvar_b_2 incvar_b_3 incvar_b_4 incvar_b_5 redmean_a_1
775      23.40       7.80      23.40       7.80       7.80      19.500
776      41.85      13.95      41.85      13.95      13.95      34.875
777      42.30      14.10      42.30      14.10      14.10      35.250
778      48.60      16.20      48.60      16.20      16.20      40.500
779      56.10      18.70      56.10      18.70      18.70      46.750
780      19.50       6.50      19.50       6.50       6.50      16.250
    redmean_a_2 redmean_a_3 redmean_a_4 redmean_a_5 redmean_b_1 redmean_b_2
775      19.500       3.900       3.900      19.500       3.900       3.900
776      34.875       6.975       6.975      34.875       6.975       6.975
777      35.250       7.050       7.050      35.250       7.050       7.050
778      40.500       8.100       8.100      40.500       8.100       8.100
779      46.750       9.350       9.350      46.750       9.350       9.350
780      16.250       3.250       3.250      16.250       3.250       3.250
    redmean_b_3 redmean_b_4 redmean_b_5 actual.month actual.year       Date
775      19.500      19.500       3.900            4        2015 2015-04-30
776      34.875      34.875       6.975            5        2015 2015-05-31
777      35.250      35.250       7.050            6        2015 2015-06-30
778      40.500      40.500       8.100            7        2015 2015-07-31
779      46.750      46.750       9.350            8        2015 2015-08-31
780      16.250      16.250       3.250            9        2015 2015-09-30

## Read in met data

In [3]:
fname <- 'input_files/Met_all_gapfill.csv'
#header <- read.csv(fname, skip=3, nrows=1)
df <- read.csv(fname, header=TRUE)
#df[df==-9999] <- NA
#colnames(df) <- colnames(header)
head(df)

  X     Date Month Day Year Sta Avg_Temp Max_Temp Min_Temp Avg_RH Precip Avg_VP
1 1 1/1/1992     1   1 1992   1      0.8      6.2     -4.6   72.4    0.0  0.431
2 2 1/2/1992     1   2 1992   1     -0.2      5.8     -6.2   68.8    0.0  0.371
3 3 1/3/1992     1   3 1992   1     -3.6      0.0     -7.1   80.9    0.0  0.396
4 4 1/4/1992     1   4 1992   1      4.0      9.6     -1.7   70.3    0.0  0.542
5 5 1/5/1992     1   5 1992   1      2.8     10.1     -4.5   80.9    0.0  0.597
6 6 1/6/1992     1   6 1992   1      5.7     11.3      0.0   90.1    1.5  0.754
  Avg_Wind_SP Avg_Resultant_WindSP Avg_Wind_Dir Solar_Rad Avg_Soil_Temp
1         2.4                  1.8          6.3      12.6           3.5
2         3.1                  2.6        348.9      13.0           2.7
3         1.7                  1.0          9.7       3.0           1.3
4         2.0                  1.0        221.9       8.8           3.2
5         1.3                  0.5        355.3      10.4           3.9
6         3.0                  1.0        217.8       5.9           5.0
  Max_Soil_Temp Min_Soil_Temp Jul_Day Max_Tempfill Min_Tempfill Avg_Tempfill
1           6.1           1.8  1Jan92          6.2         -4.6          0.8
2           5.1           1.4  2Jan92          5.8         -6.2         -0.2
3           2.0           1.2  3Jan92          0.0         -7.1         -3.6
4           6.4           1.3  4Jan92          9.6         -1.7          4.0
5           6.6           1.7  5Jan92         10.1         -4.5          2.8
6           7.1           4.0  6Jan92         11.3          0.0          5.7

In [12]:

# Integration period for SPEI (in months)
int_months <- 6
# First part of outfile
outfile <- paste("SPEI_tho_altprecip_", as.character(int_months), "mo_Sev", sep='')
# List stations and latitudes
station <- c(40, 42, 48, 49, 50)
lat <- c(34.3592, 34.368, 34.4146, 34.3331, 34.3348)
# Shift for wateryear
#diff <- as.Date("2007-01-01") - as.Date("2006-10-01")


for (i in 1:5){
    # Subset to station
    df_subs <- df[df$Sta==station[i],]
    # Calculate PET using thornthwaite
    df_subs$PET <- thornthwaite(df_subs$Avg_Temp, lat[i], na.rm=T)
    df_subs$Jul_Day <- 0 # string, get rid of it
    # Create a date column
    df_subs$Date <- as.Date(df_subs$Date, "%m/%d/%Y" )
    # Subset again
    df_subs <- subset(df_subs, subset=(df_subs$Date > as.Date("2002-09-30")))
    df_subs <- df_subs[,c('Date', 'PET', 'Precip')]
    # Create xts timeseries and downsample to monthly data
    df_subs <- xts(df_subs[,2:ncol(df_subs)], df_subs$Date)
    #df_subs <- align.time(df_subs, n=60*60*24)
    df_subs_m <- apply.monthly(df_subs$PET, FUN=mean)
    df_subs_m$Precip_ambient <- apply.monthly(df_subs$Precip, FUN=sum)
    # Add in station ID
    df_subs_m$Sta <- station[i]
    #old_index <- index(df_subs_m)
    #index(df_subs_m) <- as.yearmon(index(df_subs_m))
    # Add in columns from altered precip regimes
    alt_subs <- df_alt[df_alt$site==station[i],]
    alt_subs <- xts(alt_subs[,2:41], alt_subs$Date)
    df_subs_m <- cbind(df_subs_m, alt_subs[,1:2])
    df_subs_m <- cbind(df_subs_m, alt_subs[,5:6])
    df_subs_m <- cbind(df_subs_m, alt_subs[,21:40])

    for (j in 6:ncol(df_subs_m)){
        # Calculate climatic water differential then SPEI
        cwdiff <- df_subs_m[,j] - df_subs_m$PET
        # Get start and end month for the timeseries object
        startmon <- as.numeric(index(df_subs_m[1]))
        startyr <- floor(startmon)
        startmon <- ceiling((startmon-startyr)*12) + 1
        # Calculate SPEI
        spei_i <- spei(ts(cwdiff, frequency=12, start=c(startyr, startmon)),
                       int_months, na.rm=TRUE)
        #plot(spei_i)
        # Make this an xts object that can be bound to df_subs_m
        spei_cname <- paste(colnames(df_subs_m[,j]), 'SPEI', sep='_')
        spei_i <- xts(as.vector(spei_i$fitted), index(cwdiff))
        names(spei_i) <- spei_cname

        df_subs_m <- cbind(df_subs_m, spei_i)
    }
    #print(tail(df_subs_m))
    
    # There may be both infinite and NA values in the output
    # Convert -Inf to NA
    print(sum(is.na(df_subs_m)))
    df_subs_m[!is.finite(df_subs_m)] <- NA
    print(sum(is.na(df_subs_m)))
    
    # Interpolate over NA values
    df_subs_m_interp <- na.approx(df_subs_m)
    
    # Add water year and month columns
    #df_subs_m$year_w <- .indexyear(df_subs_m) + 1900
    #df_subs_m$month_w <- .indexmon(df_subs_m)
    
    if (i==1){
        m_out <- data.frame(date=index(df_subs_m),coredata(df_subs_m))
        m_out_interp <- data.frame(date=index(df_subs_m_interp),coredata(df_subs_m_interp))
    } else {
        m_out <- rbind(m_out, data.frame(date=index(df_subs_m),coredata(df_subs_m)))
        m_out_interp <- rbind(m_out_interp, data.frame(date=index(df_subs_m_interp),coredata(df_subs_m_interp)))
    }
}


# Somehow a funky entry at 2009-2-12 is created, remove
nrow(m_out)
nrow(m_out_interp)
#m_out <- m_out[c('::2009-01-31', '2009-02-28::')]
#nrow(m_out)



#print(tail(df_new))
#write.zoo(m_out, file = paste(outfile, '.csv', sep=''),
#          index.name = "Date", sep=',', row.names = FALSE, col.names=TRUE)
write.csv(m_out, file = paste('../processed_data/Sev_SPEI/', outfile, '.csv', sep=''), row.names = FALSE)

#write.zoo(m_out, file = paste(outfile, '_NAinterp.csv', sep=''),
#          index.name = "Date", sep=',', row.names = FALSE, col.names=TRUE)
write.csv(m_out_interp, file = paste('../processed_data/Sev_SPEI/', outfile, '_NAinterp.csv', sep=''), row.names = FALSE)
#head(m_out)

[1] 113
[1] 113
[1] 115
[1] 115
[1] 115
[1] 115
[1] 113
[1] 113
[1] 140
[1] 140

[1] 781

[1] 781

In [30]:
# Now read in treatment comparison file
fname <- 'input_files/SPEI_melt.csv'
#header <- read.csv(fname, skip=3, nrows=1)
df_melt <- read.csv(fname, header=TRUE)
df_melt$Date <- as.Date(paste(df_melt$year, df_melt$month, df_melt$day, sep='-'), "%Y-%m-%d" )
df_melt <- df_melt[with(df_melt, order(Sta, treatment, Date)), ]
#df[df==-9999] <- NA
#colnames(df) <- colnames(header)

tail(df_melt)

        X month day year       PET Precip_ambient Sta water.year water.month
1042 1042     4  30 2015  54.99280           15.6  50       2015           7
1107 1107     5  31 2015  74.11162           27.9  50       2015           8
1172 1172     6  30 2015 131.89745           28.2  50       2015           9
1237 1237     7  31 2015 129.70141           32.4  50       2015          10
1302 1302     8  31 2015 138.52581           37.4  50       2015          11
1367 1367     9  30 2015 114.52168           13.0  50       2015          12
     treatment  value       Date
1042   reduced 11.700 2015-04-30
1107   reduced 20.925 2015-05-31
1172   reduced 21.150 2015-06-30
1237   reduced 24.300 2015-07-31
1302   reduced 28.050 2015-08-31
1367   reduced  9.750 2015-09-30

In [32]:
# Calculate climatic water differential then SPEI
cwdiff2 <- df_melt$value - df_melt$PET
# Get start and end month for the timeseries object
#startmon <- as.numeric(index(df_subs_m[1]))
#startyr <- floor(startmon)
#startmon <- ceiling((startmon-startyr)*12) + 1
# Calculate SPEI
spei2_i <- spei(ts(cwdiff2, frequency=12, start=c(1900, 1)),
                       int_months, na.rm=TRUE)
#plot(spei2_i)
#df_melt$treatment
# Make this an xts object that can be bound to df_subs_m
#spei2_cname <- 'SPEI_multitreatment'
df_melt$spei_multitrt <- as.vector(spei2_i$fitted)
#names(spei2_i) <- spei2_cname


tail(df_melt)

write.csv(df_melt, file = paste('../processed_data/Sev_SPEI/', 'SPEI_melt_alltrtSPEI', '.csv', sep=''), row.names = FALSE)

        X month day year       PET Precip_ambient Sta water.year water.month
1042 1042     4  30 2015  54.99280           15.6  50       2015           7
1107 1107     5  31 2015  74.11162           27.9  50       2015           8
1172 1172     6  30 2015 131.89745           28.2  50       2015           9
1237 1237     7  31 2015 129.70141           32.4  50       2015          10
1302 1302     8  31 2015 138.52581           37.4  50       2015          11
1367 1367     9  30 2015 114.52168           13.0  50       2015          12
     treatment  value       Date spei_multitrt
1042   reduced 11.700 2015-04-30     0.1651465
1107   reduced 20.925 2015-05-31    -0.4808157
1172   reduced 21.150 2015-06-30    -1.2176538
1237   reduced 24.300 2015-07-31    -1.6957110
1302   reduced 28.050 2015-08-31    -2.0840154
1367   reduced  9.750 2015-09-30    -2.2492447